/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  line-height: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  width: 100%;
  max-width: 100%;
  object-fit: contain;
  height: auto;
}

/* Page */

body {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.ttf) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Bold.ttf) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url(../fonts/WorkSans-Regular.otf) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url(../fonts/WorkSans-Bold.otf) format("woff");
  font-weight: 700;
  font-style: normal;
}


.inner {
  max-width: 1195px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

.object-fit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-position: center top;

  & ~ * {
    position: relative;
  }

  &-cover {
    object-fit: cover;
    height: 100%;
  }

  &-contain {
    object-fit: contain;
    height: auto;
  }
}

.btn {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150.68%;
  color: #fff;
  display: inline-block;
  padding: 10px 32px;
  background: #931430;
  border-radius: 3px;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;

  &:hover,
  &:focus {
    background: #fff;
    color: #931430;
  }
}

.btn-download,
#searchsubmit {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150.68%;
  color: #fff;
  padding: 10px 24px;
  display: inline-block;
  text-decoration: none;
  transition: 0.3s;
  background: #0067a3;
  border-radius: 3px;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background: #fff;
    color: #0067a3;
  }
}

.mobile-menu {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  flex-wrap: wrap;
  position: fixed;
  z-index: 999;

  @media screen and (min-width: 992px) {
    display: none;
  }

  .nav-menu {
    right: -340px;
    position: absolute;
    top: 0;
    background: #272A3f;
    z-index: -1;
    padding: 30px 20px 20px;
    width: 320px;
    height: 100vh;
    overflow: auto;
    transition: 0.4s;

    ul {
      display: flex;
      flex-wrap: wrap;

      li {
        padding: 10px 15px;
        width: 100%;

        a {
          font-family: 'Open Sans';
          font-style: normal;
          font-weight: 700;
          font-size: 15px;
          line-height: 20px;
          letter-spacing: 0.02em;
          text-transform: uppercase;
          color: #fff;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &.active {
    .burger {
      background: #000;

      .strip {
        div {
          background: #fff;
        }
      }

      .burger-strip {
        transform: scale(0.7) rotate(45deg);
        transition: all 0.25s ease 0.05s;

        div {
          &:first-child {
            transform: translateY(8px) rotate(3deg);
          }

          &:nth-child(2) {
            opacity: 0;
          }

          &:last-child {
            transform: translateY(-8px) rotate(90deg);
          }
        }
      }
    }

    .nav-menu {
      right: 0
    }
  }
}

.burger {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #272A3F;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  transition: all 0.5s ease;
  margin: 10px 8px;

  .strip {
    div {
      height: 2px;
      border-radius: 2px;
      background: #fff;
      margin: 6px;
      transition: all 0.55s cubic-bezier(0.075, 0.82, 0.165, 1);
      width: 20px;
    }
  }

  .burger-strip {
    div {
      transition: all 0.65s cubic-bezier(0.075, 0.82, 0.165, 1)
    }
  }
}

.header-desktop {
  padding: 12px 0;
  position: fixed;
  z-index: 333;
  width: 100%;
  transition: 0.2s;

  @media screen and (min-width: 992px) {
    padding: 34px 0;
  }

  &.shadow {
    background: rgba(0, 0, 0, 0.4);
    padding: 14px 0;
  }

  .inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    a {
      max-width: 120px;
      display: inline-block;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 35px;
      line-height: 40px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #fff;
      text-decoration: none;

      @media screen and (min-width: 992px) {
        max-width: 184px;
      }
    }
  }

  .nav-menu {
    display: none;

    @media screen and (min-width: 992px) {
      display: block;
    }

    ul {
      display: flex;
      flex-wrap: wrap;

      li {
        padding: 10px 15px;

        a {
          font-family: 'Open Sans';
          font-style: normal;
          font-weight: 700;
          font-size: 15px;
          line-height: 20px;
          letter-spacing: 0.02em;
          text-transform: uppercase;
          color: #fff;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.not-found-posts {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 108.95%;
  text-align: center;
  color: #000;
  position: relative;
  z-index: 3;
  max-width: 500px;
  margin: 0 auto;
  width: 100%;
  padding: 80px 15px;
}

.section__banner {
  position: relative;
  padding-top: 100px;
  padding-bottom: 90px;

  @media screen and (min-width: 767px) {
    padding-top: 146px;
    padding-bottom: 113px;
  }

  &.inner__banner {
    @media screen and (min-width: 767px) {
      padding-top: 217px;
      padding-bottom: 130px;
    }
  }

  .inner {
    max-width: 697px;
  }

  .content {
    position: relative;
    border-radius: 8px;

    @media screen and (max-width: 767px) {
      border: 1px solid #fff;
      padding: 40px 10px;
    }

    &::before {
      @media screen and (min-width: 767px) {
        position: absolute;
        content: " ";
        background-image: url("../images/border-banner.svg");
        top: 25px;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        background-size: contain;
      }
    }

    .title {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 38px;
      line-height: 108.95%;
      text-align: center;
      color: #fff;
      margin-bottom: 31px;
      position: relative;
      z-index: 3;

      span {
        display: inline-block;

        @media screen and (min-width: 767px) {
          height: 41px;
          max-width: 380px;
          overflow: hidden;
        }
      }
    }

    .text {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      p {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140.76%;
        color: #fff;
        opacity: 0.8;
        padding: 0 15px;
        margin-bottom: 30px;

        @media screen and (min-width: 767px) {
          height: 64px;
          max-width: 491px;
          overflow: hidden;
        }
      }
    }

    p {
      text-align: center;
      position: relative;
      z-index: 3;
    }
  }

  .inner__content {
    .title {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 38px;
      line-height: 52px;
      text-align: center;
      color: #fff;
      margin-bottom: 30px;
    }
  }
}

.section__posts {
  padding-top: 72px;
  min-height: 555px;

  &.inner__posts {
    padding-top: 30px;
    padding-bottom: 72px;
    min-height: initial;

    .wrapper {
      .item {
        padding-bottom: 14px;
      }
    }
  }

  .title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 150.68%;
    color: #576072;
    margin-bottom: 31px;
    text-align: center;
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1%;

    .item {
      width: 98%;
      margin: 0 1% 20px;
      background: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      height: 100%;
      text-decoration: none;

      &:hover {
        h3 {
          text-decoration: underline;
        }

        .image {
          opacity: 0.9;
        }
      }

      @media screen and (min-width: 567px) {
        width: 48%;
      }

      @media screen and (min-width: 992px) {
        width: 23%;
      }

      &.active {
        .more {
          max-height: 158px;
          overflow: hidden;
        }

        .show-more {
          background-image: url("../images/arrow-blue-up.svg");

          &::before {
            content: "Show less";
          }
        }
      }

      .image {
        margin-bottom: 24px;
        transition: 0.5s;
      }

      h3 {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 145.8%;
        color: #576072;
        margin-bottom: 8px;
        padding: 0 21px 0 24px;
        overflow: hidden;
      }

      .more {
        min-width: 58px;
        max-height: 58px;
        overflow: hidden;
        transition: 0.8s;
        padding: 0 21px 0 24px;
        margin-bottom: 16px;

        p {
          font-family: 'Open Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 138.3%;
          color: #79808e;
        }
      }

      .show-more {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 15px;
        color: #0067a3;
        cursor: pointer;
        background-image: url("../images/arrow-blue-down.svg");
        background-size: contain;
        background-repeat: no-repeat;
        margin: 0 21px 24px 20px;
        padding-left: 13px;

        &::before {
          content: "Show more";
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .searchform {
    max-width: 500px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
    text-align: center;

    label {
      display: block;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 150.68%;
      color: #2c313a;
      margin-bottom: 10px;
    }

    #s {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 150.68%;
      color: #2c313a;
      margin-bottom: 10px;
      padding: 5px 15px;
    }
  }
}

.section__single-post {
  padding-top: 70px;
  padding-bottom: 50px;

  .inner {
    max-width: 600px;
  }

  .single-post {
    padding: 24px;
    border: 1px solid #262b3f;
    border-radius: 3px;

    .image {
      margin-bottom: 24px;
    }

    h3 {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 145.8%;
      color: #576072;
      margin-bottom: 8px;
    }

    .more {
      p {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 138.3%;
        color: #79808e;
        margin-bottom: 16px;
      }
    }
  }
}

.section-information {
  padding-top: 61px;

  p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #79808e;
    margin-bottom: 20px;

    .btn-download {
      margin-top: 25px;
    }
  }
}

.footer {
  padding: 23px 0 14px;
  background: #2c313a;

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .by {
      font-family: 'Work Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #fff;
      margin-bottom: 11px;
    }

    .links {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 11px;
      margin-right: -7px;

      a {
        display: inline-block;
        padding: 0 7px;
        transition: 0.1s;

        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}